<html>
<body>
	<form action="/filetoupload" method="post" enctype="multipart/form-data">
		<p>Upload a Photo</p>
             	Title: <input type="text" name="title"><br>
                Description: <input type="text" name="description"><br>
		Photo: <input type="file" name="filetoupload"><br>
                <input type="submit" value="Upload">
        </form>
</body>
</html>
