<html>
<body>
	<form action="/fileupload" method="post" enctype="multipart/form-data">
		<p>Upload a Photo</p>
             	Title<br><br><input type="text" name="title"><br>
                Description<br><br><input type="text" name="description"><br>
		Photo<br><br><input type="file" name="fileupload"><br><br>
                <input type="submit" value="Upload">
        </form>
</body>
</html>
